data/candal_data/*.png
data/ground_truth/*.png
data/original_data/*.png
data/predict/*.png
data/ground_truth/*.avi
data/predict/*.avi
data/__pycache__/*.pyc
*.h5
data/smoke_pos21_size5_f200/v/*.npz
__pycache__/*.cpython-37.pyc
log/*/*/*
data/fire_2d/v/*.npz
